<%= form_for(person) do |f| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :firstname %>
    <%= f.text_field :firstname %>
  </div>

  <div class="field">
    <%= f.label :lastname %>
    <%= f.text_field :lastname %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :phone1 %>
    <%= f.number_field :phone1 %>
  </div>

  <div class="field">
    <%= f.label :phone2 %>
    <%= f.number_field :phone2 %>
  </div>

  <div class="field">
    <%= f.label :dateofbirth %>
    <%= f.date_select :dateofbirth, :start_year => Date.today.year - 100 %>
  </div>

  <div class="field">
    <%= f.label :gender %>
    <%= f.text_field :gender %>
  </div>

  <div class="field">
    <%= f.label :height %>
    <%= f.text_field :height %>
  </div>

  <div class="field">
    <%= f.label :weight %>
    <%= f.text_field :weight %>
  </div>

  <div class="field">
    <%= f.label :jerseynum %>
    <%= f.number_field :jerseynum %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
