<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= @manager.person %>
</p>

<p>
  <strong>Leagueteam:</strong>
  <%= @manager.leagueteam %>
</p>

<%= link_to 'Edit', edit_manager_path(@manager) %> |
<%= link_to 'Back', managers_path %>
